*{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    grid-template-areas: 
    ". text text . "
    ". text text ."
    "img img img img"
    "img img img img"
    "img img img img"
    ;
}
.text{
    grid-area: text;
    height: 10vh;
    text-align: center;
}
h1{
    grid-area: text;
    font-size: 350%;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    
}
p{
    grid-area: text;
    font-size: 150%;
    color: #252525;
    text-align: center;
}
button{
    font-size: 120%;
    text-align: center;
    padding: 15px 50px;
    border-radius: 15% ;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute; 
    left: 45%;
    right:55%
    

}
button{
    font-color: white
}
.boton{
    display: flex;
    align-items: center;
    justify-content:center ;
    
}
.img{
    position: relative;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10vw;
    top: 30px
    
}
.img2{
    padding-top:15px;
}